# dependencies
/node_modules
/.pnp
.pnp.js

# next
/.next/
/out/

# build
/build
/dist

# env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*

# os
.DS_Store
*.pem

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
